*{
	box-sizing: border-box;
}


html{
	/*animacion para que me lleve un enlace dentro de la misma pagina*/
	scroll-behavior: smooth;
}



body{
	
	margin: 0;
	font-family: 'roboto', sans-serif;
    
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em; }
ul{ list-style: none;}
li{font-size: 1.25em;}


/*botones*/
button{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 5px 5px 20px rgba(40,55,79,2);
	color: white;
	background-color: blueviolet;
	
}

button:hover{
 background-color: rgb(101, 33, 165);	
}

.container{
	max-width: 1120px;
	margin: auto;
}

/*cambiar el color de la fuente*/
.color-acento{color: blueviolet;}


header{
	background-color: rgb(245, 245, 245);
	
}


header .logo{	
	margin: 0; /*reseteamos el margen de la cabecera*/
	padding: 25px 30px;
	font-weight: bold;
	color: blueviolet;
	font-size: 1.6em;
}

header .container{ /*centramos el contenedor de la cabecera*/
	display: flex;
    flex-direction: column;
    align-items: center;	

}

header nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
	
	
}

header a{  /*enlaces*/
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}


header a:hover{
	
	color: blueviolet;
}



/*AHORA HACEMOS LA VERSION MOVIL*/        
#hero {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height:100vh; /*cambia en base a la altura de la pantalla*/
	color: white;
	background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
	,url("imagenes/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover; /*para que ocupe todo el espacio*/
	background-position:center center; /*para centrar la imagen y ocupe todo el espacio*/
	
	
}


#hero h1{
	
	color: white;
}

#hero button{
	font-size: 1.75em;
}


#somos-proya .container{
	text-align: center;
	padding: 200px 12px;
	
}






/*SECCION NUESTROS PROGRAMAS*/
/*como son tres clases que se llaman carta, le asignamos numeros con first*/
/*y nth entre parentesis el numero*/

#nuestros-programas{
	background-color: rgb(30,30,30);
	color: white;
	text-align:center;
}

#nuestros-programas .container{
	padding: 150px 12px;
}

#nuestros-programas h2{
	margin-top: 0;
	font-size: 3.2em;
}

#nuestros-programas p{
	display: none; /*ocultamos el texto*/
}


#nuestros-programas .carta{
	background-position: center center;
	background-size: cover;
	padding: 50px;
	margin: 20px;
	border-radius: 15px;
}


.carta:first-child{
	background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
	,url("imagenes/front-end.jpg");

}

.carta:nth-child(2){
   	background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
	,url("imagenes/full-stack.jpg");
}

.carta:nth-child(3){
	background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
	,url("imagenes/python.jpg");
}



/*-----SECCION CARACTERISTICAS-----*/
#caracteristicas .container{
	text-align: center;
	padding: 215px 12px;
}

#caracteristicas li{
	margin: 16px 0px;
	font-weight: bold;
}



/*-------SECCION APLICA YA--------*/
#final{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(30,30,30);
	color: white;
	height: 80vh;
}

#final h2{
	/*tamaño relativo, que el texto este en una 
	sola linea*/
	font-size: 9vw;
}


#final button{
	font-size: 5vw;
}



/*-------------FOOTER--------*/

footer{
  background-color: rgb(230,230,230);
}

/*sacar el margin del parrafo*/
footer p{
	margin: 0;
	padding: 12px;
	color: rgb(100,100,100);
}


footer .container{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: flex-end /*se coloca en el centro pero al final del contenedor, en el borde*/
}





/*-----------------------------------------------------------------------------
-----------------TAMAÑO PARA PANTALLAS MAS GRANDES---------------------------
-----------------------------------------------------------------------------*/

/*cuado la pantalla supere los 720px, se aplican los siguientes estilos*/
@media (min-width: 720px){
	
	/*cambios en la cabecera*/
	header{
		position: fixed;
		width: 100%;
	}
	
   header .container{
	   flex-direction: row;
	   justify-content: space-between; /*los separa uno a la izquierda y el otro a la derecha*/
   }
   
   header nav{
	flex-direction: row;
	padding-bottom: 0;
	padding-right: 20px;
   }
   
   #somos-proya .img-container{
	   background-image: linear-gradient(
	   0deg,
	   rgba(0,0,0,0.5),
	   rgba(0,0,0,0.5)
	   ), url("imagenes/somos-proya.jpg");
       background-size: cover;
		background-position: center center;
		height: 500px;
		width: 400px;	   
   }
   
}