*{
	box-sizing: border-box;
}




body{
	
	margin: 0;
	font-family: 'roboto', sans-serif;
    
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em; }
ul{ list-style: none;}


/*botones*/
button{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 5px 5px 20px rgba(40,55,79,2);
	color: white;
	background-color: blueviolet;
	
}

button:hover{
 background-color: rgb(101, 33, 165);	
}

.container{
	max-width: 1120px;
	margin: auto;
	
}


header{
	background-color: rgb(245, 245, 245);
	
}