*{
	box-sizing: border-box;
}




body{
	
	margin: 0;
	font-family: 'roboto', sans-serif;
    
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em; }
ul{ list-style: none;}
li{font-size: 1.25em;}


/*botones*/
button{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 5px 5px 20px rgba(40,55,79,2);
	color: white;
	background-color: blueviolet;
	
}

button:hover{
 background-color: rgb(101, 33, 165);	
}

.container{
	max-width: 1120px;
	margin: auto;
	
}


header{
	background-color: rgb(245, 245, 245);
	
}


header .logo{	
	margin: 0; /*reseteamos el margen de la cabecera*/
	padding: 25px 30px;
	font-weight: bold;
	color: blueviolet;
	font-size: 1.6em;
}

header .container{ /*centramos el contenedor de la cabecera*/
	display: flex;
    flex-direction: column;
    align-items: center;	
}

header nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
	
	
}

header a{  /*enlaces*/
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}


header a:hover{
	
	color: blueviolet;
}



/*AHORA HACEMOS LA VERSION MOVIL*/        
#hero {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height:100vh; /*cambia en base a la altura de la pantalla*/
	color: white;
	background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
	,url();
	
	
}